youtube.mp4
notebooks/data.db
*.json
fast_res50_256x192.pth
multi_domain_fast50_dcn_combined_256x192.pth
noface_fast50_dcn_combined_256x192.pth
osnet_ain_x1_0_msmt17_256x128_amsgrad_ep50_lr0.0015_coslr_b64_fb10_softmax_labsmth_flip_jitter.pth
yolov3-spp.weights
